/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  cursor: none;
  font-family: 'JetBrains Mono', 'Fira Mono', 'Consolas', monospace;
  
}
body {
  background-color: #000000;
  overflow-x: hidden;

}
html {
  scroll-behavior: smooth;
}
.experience-container,.contact-container,.skills-container,.projects-section,.about-me-section {
  margin-top: 2rem;
}

section[id] {
  scroll-margin-top: 10px;
}